.minimalist-scrollbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 140px);
    padding-left: 60px;
    border-width: 0;
    font-size: 20px;
    outline: none;
    padding-bottom: 60px;
    resize: none;
    overflow: auto;
}

/* WebKit browsers */
.minimalist-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.minimalist-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
    /* Rounded corners for the track */
}

.minimalist-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    /* Rounded corners for the thumb */
}

.minimalist-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.minimalist-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

/* Firefox */
.minimalist-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #eeeeee transparent;
}

/* Additional approach for other browsers */
.minimalist-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
    border-radius: 8px;
    /* Rounded corners for the corner */
}

@keyframes buzz {
    0% {
        color: red;
        font-size: 14px;
        font-weight: normal;
    }

    25% {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    50% {
        color: red;
        font-size: 15px;
        font-weight: bold;
    }

    75% {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    100% {
        color: #757575;
        font-size: 14px;
        font-weight: normal;
    }
}

.char-count-limit {
    animation: buzz 0.5s ease-in-out;
}